server:
  port: 8080

spring:
  application:
    name: mantle-luxury-backend

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

management:
  endpoints:
    web:
      exposure:
        include: health,info


